@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";


// helper for centering
.col-centered {
  float: none;
  margin: 0 auto;
}

.form-horizontal .form-group {
  margin-left: 0; // override bootstrap's -15px margins
  margin-right: 0; // ditto
}

.flash-container {
  margin-top: 20px;
  margin-bottom: 0;

  .alert {
    margin-bottom: 0;
  }
}

.btn-first {
  float: left;
  margin-right: 5px;
}